<angular-nx-toolbar (toggleSideNav)='sidenav.toggle()'>
</angular-nx-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]='true' class='app-sidenav' mode='side'>
      <span class='logo'>
        <a [routerLink]="'/'">
          <img alt='Logo' src='assets/logo.png' />
        </a>
      </span>
    <mat-divider></mat-divider>
    <mat-nav-list data-cy='nav-list'>
      <mat-list-item *ngFor='let link of links'
                     [routerLink]='link.path'
                     attr.data-cy='nav-item-{{ link.title }}'
                     routerLinkActive='active'>
        <mat-icon matListIcon>{{ link.icon }}</mat-icon>
        {{ link.title | uppercase }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
