<mat-card>
  <mat-card-title data-cy='widget-details-title'>
    <span *ngIf='currentWidget?.id; else elseBlock'>
      Editing {{ originalTitle }}
    </span>
    <ng-template #elseBlock>
      Select Widget
    </ng-template>
  </mat-card-title>
  <form #form='ngForm' (submit)='saved.emit(currentWidget)' data-cy='widget-form'>
    <mat-card-content>
      <mat-form-field class='full-width'>
        <input
          [(ngModel)]='currentWidget.title'
          data-cy='widget-form-title'
          matInput
          name='title'
          placeholder='Title'
          required
          type='text' />
      </mat-form-field>
      <mat-form-field class='full-width'>
        <input
          [(ngModel)]='currentWidget.description'
          data-cy='widget-form-description'
          matInput
          name='description'
          placeholder='Description'
          required
          type='text' />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]='form.invalid'
        color='primary'
        data-cy='widget-form-save'
        mat-button
        type='submit'>Save
      </button>
      <button
        (click)='form.reset();cancelled.emit()'
        data-cy='widget-form-cancel'
        mat-button
        type='button'>Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
